#main

  .brick.col3
    %h4
      = link_to "jQuery-Machine, kick-ass finite state machines", "https://github.com/lucaong/jquery-machine"
    %p
      I developed this tiny weapon to assist me in producing smart multi-state UI elements. It is a clean, simple and efficient approach to finite state machines packaged into a lightweight jQuery plugin. Download it and fork the code on the project's
      == #{link_to "GitHub page", "https://github.com/lucaong/jquery-machine"}.

  .brick.col2
    %h4
      = link_to "NoiseGen, background noise with JavaScript", "https://github.com/lucaong/noiseGen"
    %p
      NoiseGen is another micro project of mine. It's a simple jQuery plugin to dynamically generate background noise. It provides a fallback for browsers that don't support the canvas element and many useful configuration options. You can see a
      == #{link_to "demo here", "http://www.lucaongaro.eu/demos/noisegen/"} or #{link_to "read about it on PrimeGap", "http://primegap.net/2011/10/20/noisegen-generate-background-noise-with-jquer/"}.

  .brick.col1
    %h4
      = link_to "JSterminal, a bookmarklet to rule 'em all", "https://github.com/lucaong/jsterminal"
    %p
      == A CLI-like universal bookmarklet, with an extensible API, for the ultimate geek. #{link_to "Try it out", "http://www.lucaongaro.eu/demos/jsterminal/"}.

  .brick.col1
    %h4
      = link_to "DailyWits, collect your personal wisdom", "http://www.dailywits.com/"
    %p
      == DailyWits is a cute little Web app I designed with my girlfriend. It lets you write down and share the lessons you learn every day, and build your own book of wisdom. For example, this is my personal #{link_to "DailyWits book", "http://www.dailywits.com/users/1"}.

  .brick.col2
    %h4
      = link_to "Moka, a damn cool static website framework", "http://moka.primegap.net/"
    %p
      = "Moka is a framework I coded for developing static websites with the style and simplicity of haiku poetry (this website was entirely built with it). It minimizes chores and maximizes creativity. It is (naturally) #{link_to "open source", "https://github.com/lucaong/Moka"}, written in pure Ruby and released as a Ruby gem. I'm sure you'll hear great things about it very soon!"

  .brick.col2
    %h4
      = link_to "jQCloud, neat word clouds with jQuery", "http://www.lucaongaro.eu/demos/jqcloud/"
    %p
      == I recently developed jQCloud, an open source jQuery plugin to make beautiful pure HTML word clouds and tag clouds. You can see a #{link_to "demo", "http://www.lucaongaro.eu/demos/jqcloud/"}, read a #{link_to "tutorial", "http://primegap.net/2011/03/04/jqcloud-a-jquery-plugin-to-build-neat-word-clouds/"} and have a look at the the source code and fork it on #{link_to "GitHub", "http://www.lucaongaro.eu/demos/jqcloud/"}.

  .brick.col1
    %h4
      = link_to "PrimeGap", "http://primegap.net"
    %p
      The blog in which Luca Tironi, Andrea Mostosi and I share the gotchas and tricks of the trade that we discover in our development works. Check it out!

  .brick.col2
    %h4
      = link_to "SDA Bocconi Learning Lab", "http://learninglab.sdabocconi.it"
    %p
      My past employer, where I performed research and developed web apps to support experiential learning in the Business School. It is a cool place, in which a crew of alpha geeks performs a lot of creative hacks and code kung fu. Many of the creative ninjas I know have been part of this lab at some point in their career.

  .brick.col1
    %h4 A Collective Brain
    %p
      Have you ever thought about the fact that huge networks of active Internet users, like Twitter or the Web itself, may display a self-organizing behavior and emergent collective computational capabilities? I'm doing some research and I wrote my master thesis on this...

  .brick.col1
    %h4
      = link_to "HTML Terminal", "http://www.lucaongaro.eu/demos/htmlterminal/"
    %p
      This HTML + CSS + JavaScript
      = link_to "command line terminal emulation", "http://www.lucaongaro.eu/demos/htmlterminal/"
      is just a random experiment, but it would make a cool geeky login interface for a hacker site... If you want to use it, mod it and make it better let me know!

  .brick.col1
    %h4
      = link_to "My OpenProcessing Sketches", "http://www.openprocessing.org/portal/?userID=906"
    %p
      Have a look at some of
      = link_to "my experiments and tinkering", "http://www.openprocessing.org/portal/?userID=906"
      with the awesome
      = link_to "Processing", "http://processing.org/"
      language.

  .brick.col1
    %h4
      = link_to "VirtualPlantz", "http://www.virtualplantz.com"
    %p
      Developed years ago,
      = link_to "VirtualPlantz", "http://www.virtualplantz.com"
      was one of my first complete web app. I made it for fun, but it eventually gained thousands of registered users and helped me win a couple of competitions. It was a sort of pre-facebook-boom FarmVille.

  .brick.col1
    %h4
      = link_to "HTML5 toggle button", "http://lucaongaro.tumblr.com/post/773206025/css3-and-javascript-toggle-button"
    %p
      I recently wrote a post on how to easily make a nice
      = link_to "HTML5 + CSS3 + JavaScript toggle button.", "http://lucaongaro.tumblr.com/post/773206025/css3-and-javascript-toggle-button"
      Have a look at it.

  .clear

  :javascript
    $(function() {
      $('#main').masonry({columnWidth: 175, itemSelector: '.brick'});
    });

