%h3 Meet my friends

%ul.no_bullet.no_indent
  %li
    = link_to "Luca Tironi", "http://www.lucatironi.net"
    &#8208; my ex colleague at the SDA Bocconi Learning Lab and friend. Simply one of the smartest Web app developers, hackers and multi-disciplinary thinkers I know.

  %li
    = link_to "PrimeGap", "http://primegap.net"
    &#8208; the blog where Luca Tironi, Andrea Mostosi and I share some gotcha and tricks of the trade that we find in our development work.

  %li
    = link_to "Jesper Bergmann's blog", "http://www.jesperbergmann.com/"
    &#8208; a.k.a. Always Remember the 2nd Law of Thermodynamics. He was a classmate of mine at EMIT. He's an expert of product design and architecture, as well as a great reporter of technology news and author of many sharp articles about business.

  %li
    = link_to "Objectless Observations", "http://objectlessobservations.tumblr.com/"
    &#8208; Steven Richards is from Detroit, he's fond of sports cars, and he's a Bocconi student looking for opportunities to start up a business. For all these reasons and more, I think he's one of the most interesting people around in Bocconi University.

  %li
    = link_to "Silvio Revelli", "http://www.silviorevelli.com/"
    &#8208; Silvio is a good friend of mine, a former engineering classmate, an inventor and web expert. I bet he's gonna make a big deal of money pretty soon, so I'm just waiting to be hired by him. Alternatively, I'll hire him and put his talent at work to conquer the world.

  %li
    = link_to "Andrea Mostosi", "http://about.me/andreamostosi"
    &#8208; Andrea is one of the guys I'd hire if I had the responsibility to put together a dream team. He's very smart, honest, competent and a very interesting person to spend time with.
