!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
    %link{:rel => "shortcut icon", :href => "images/favicon.png"}
    %title
      Luca Ongaro -
      = @current_page.respond_to?(:title) ? @current_page.title : @current_page.name.titleize
    = stylesheet_link_tag "style.css", :media => "screen"
    /[if IE 7]
      = stylesheet_link_tag 'ie7.css'
    /[if IE 6]
      = stylesheet_link_tag 'ie6.css'
    /[if IE]
      = stylesheet_link_tag 'ie.css'
    = javascript_include_tag :all

  %body
    #wrap
      #header
        = partial :header
      #sidebar
        = partial :sidebar
      #content
        = partial :content
      .clear.centered.footer
        %span{:style => "font-family: 'Zapf Dingbats'"} &#9733;
        == This website is 100% pure #{link_to "Moka", "http://moka.primegap.net/"} brewed
        %span{:style => "font-family: 'Zapf Dingbats'"} &#9733;

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-772585-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();